<app-secondnav2></app-secondnav2>

<section class="bread-crumb visible-md visible-lg visible-sm">
  <div class="container-fluid text-center1">
    <div class="row">

      <ul>
        <li class="">
          Charts >> <span class="" data-toggle="collapse" data-target="#discover">All What is Charts <i class="fa fa-question-circle" aria-hidden="true"></i></span>
        </li>

        <li>
          Best Male vocalist
        </li>

      </ul>


      <div class="collapse" id="discover">
        <div class="discover-text text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              ReverbNation Discover centers on the idea that the love of an artist doesn’t begin and end with their music.
              We’re not just sharing our favorite songs and leaving the rest to you — we’re giving you the stories and people behind those songs.
              And with more than 4 million global artists on ReverbNation, our Curation Team of industry tastemakers is on the hunt to uncover as many
              of those moments, movements, and music as we can
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bread-crumb visible-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-center"><h3>Charts - All</h3></div>
      <div class="col-md-33">
        <a class="text-center" data-toggle="collapse"  href="#discover-mobile" aria-expanded="false" aria-controls="discover-mobile"><h3>What is Discover <i class="fa fa-question-circle" aria-hidden="true"></i></h3></a>
      </div>

      <div class="collapse" id="discover-mobile">
        <div class="discover-text text-center">
          <div class="row2">
            <div class="col-md-6 col-md-offset-3">
              ReverbNation Discover centers on the idea that the love of an artist doesn’t begin and end with their music.
              We’re not just sharing our favorite songs and leaving the rest to you — we’re giving you the stories and people behind those songs.
              And with more than 4 million global artists on ReverbNation, our Curation Team of industry tastemakers is on the hunt to uncover as many
              of those moments, movements, and music as we can
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- body Area -->
<div class="section ">
  <div class="container-fluid">
    <div class="row row-sm">
      <div class="col-md-2 cat-holderd">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Categories</div>
          <div class="panel-body">
            <p>...</p>
          </div>

          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">Music</li>
            <li class="list-group-item">Entertainment</li>
            <li class="list-group-item">Comedy</li>
            <li class="list-group-item">Events</li>
            <li class="list-group-item">Film</li>
            <li class="list-group-item">Fashion</li>
            <li class="list-group-item">Sports</li>
            <li class="list-group-item">Beauty</li>
          </ul>
        </div>
      </div>


      <div class="col-md-10">

        <div class="panel panel-default">
          <div class="panel-heading">Here are the results for  -  Best Male vocalist</div>
          <div class="panel-body"><p>In this category, we search for male voice that stands out from the rest, a unique sound that is love by many and tops the charts.</p></div>
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Category Name</th>
              <th>Participant</th>
              <th>Creative Work</th>
              <th>Vote Count</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Best Solo perfomance</td>
              <td>Drake</td>
              <td>Drake - Hotline Bling</td>
              <td>500k</td>
              <td><i class="afi afi-play"></i></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>


        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>


    </div>
  </div>
</div>
