<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let nomination of nominations | paginate: { itemsPerPage: 12, currentPage: p }">
  <div class="img-holder" [ngStyle]="{ 'background-image': 'url(' + nomination.mainImage + ')'}" >
    <div class="play-button">
      <!--<a data-fancybox data-options='{"src": "#hidden-content-d", "modal": true}' href="javascript:;" class="btn">

      </a> -->
      <a class="btn" data-fancybox href="https://www.youtube.com/watch?v={{nomination.videoYoutubeId}}&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="afi afi-play" aria-hidden="true"></i></a>

      <!--Modal -->

      <div style="display: none;max-width:1000px;" id="hidden-content-d">
        <h2>I'm a modal!</h2>
        <p>You can close me only by pressing custom button below.</p>
        <p>It would also be possible to prevent closing using `beforeClose` callback.</p>
        <p><button data-fancybox-close class="btn">Close me</button></p>
      </div>

      <!--Modal -->

    </div>
  </div>
  <div class="content-space">
    <p class="artist-name"><a href="#">{{nomination.artistName}}</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> nominated in {{nomination.subCategoryName}} <span class="pull-right"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span></p>
    <p><strong>{{nomination.videoDescription}}</strong></p>
    <p>{{nomination.subCategoryDecription}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

