<!-- second nav -->
<div id="sticky-anchor"></div>
<div class="section nav-2">
  <div class="container-fluid">

    <div class="row nav-2-holder  visible-md visible-lg">
      <div class="col-md-2">
        <h4><a routerLink="/discover" routerLinkActive="active">Discover</a> <span class="afi afi-discover"></span></h4>
      </div>

      <div class="col-md-2">
        <h4><a routerLink="/vote" routerLinkActive="active">Vote</a> <span class="afi afi-vote"></span></h4>
      </div>

      <div class="col-md-2">
        <h4><a routerLink="/charts" routerLinkActive="active">Charts</a> <span class="afi afi-charts"></span></h4>
      </div>
    </div>

    <div class="row text-center nav-2-holder visible-sm visible-xs">
      <div class="col-md-2">
        <a routerLink="/discover" routerLinkActive="active"><h4>Discover <span class="afi afi-discover"></span></h4></a>
      </div>

      <div class="col-md-2">
        <a routerLink="/vote" routerLinkActive="active"><h4>Vote <span class="afi afi-vote"></span></h4></a>
      </div>

      <div class="col-md-2">
        <a routerLink="/charts" routerLinkActive="active"><h4>Charts <span class="afi afi-charts"></span></h4></a>
      </div>
    </div>

  </div>
</div>