<!--Slider-->
<div class="main-slider visible-md visible-lg">
    <div class="container-fluid">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="left carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active slide-image tint">
                    <!-- <img src="http://placehold.it/1170x300.jpg" alt="..."> -->
                    <img class="" src="assets/img/slide-2.jpg" alt="...">
                    <div class="col-md-7 col-sm-8 col-lg-4 content">
                        <h4>Welcome to evotedia</h4>
                        <div class="liner"></div>
                        <p>The Home of music voting on another level</p>
                        <div class="liner"></div>
                        <div class="btn btn-primary">vote <span class="afi afi-vote"></span></div>
                    </div>
                </div>

                <div class="item slide-image tint">
                    <img class="" src="assets/img/slide-2.jpg" alt="...">
                    <div class="col-md-6 col-sm-8 col-lg-5 content">
                        <h4>Welcome to evotedia</h4>
                        <div class="liner"></div>
                        <p>The Home of music voting on another level</p>
                        <div class="liner"></div>
                        <div class="btn btn-primary">vote <span class="afi afi-vote"></span></div>
                    </div>
                </div>

                <div class="item slide-image tint">
                    <img class="" src="assets/img/slide-3.jpg" alt="...">
                    <div class="col-md-6 col-sm-8 col-lg-4 content">
                        <h4>Welcome to evotedia</h4>
                        <div class="liner"></div>
                        <p>The Home of music voting on another level</p>
                        <div class="liner"></div>
                        <div class="btn btn-primary">vote <span class="afi afi-vote"></span></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>